extends layout.pug

block seo
  - let pageTitle = 'Bootcamp alternative - Programming mentor';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your programming mentor';
  - let pageRobots = 'index, follow';
  - let pageUrl = 'https://mentor.twolfson.com/bootcamp-alternative.html';
  include _partials/common-seo.pug

block header
  //- Overwriting everything for now

block footer
  //- Overwriting everything for now

block content
  .row
    .col-12
      h1 Bootcamps can be expensive
      h2 Hire a mentor and save money instead
      p
        //- TODO: Should we add a tiny image here? Like after "Wolfson" or before "Todd"?
        //- TODO: Make reviews link in page
        //- TODO: Maybe don't link to other page here, it'll be confusing
        = "- Todd Wolfson, "
        a(href="/")
          = "Programming mentor, "
          span(aria-label="5 star") 5.0 &#11088;
          = " (50 reviews)"
        //- TODO: Add more professional experience
  .row
    .col-12
      p
        //- TODO: Make select interactive for a few items
        //- TODO: If we add our own JS, then this means Sentry.js
        //- TODO: Verify numbers are accurate, also maybe link to them somehow. Maybe in footer?
        = "Compare to: "
        select.form-control
          option General Assembly, $14,000 (10 weeks)

  .row.mb-3
    - let my_cost, my_savings, my_sessions;
    - let their_weeks = 10;
    - let their_amount = 14000;
    - let my_rate = 120;
    .col-4
      .card: .card-body
        .text-center
          h3 Infrequent
          p 1 hour every 2 weeks
          - my_sessions = their_weeks / 2;
          - my_cost = my_sessions * my_rate;
          - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
          .h3 $#{my_cost}, save #{my_savings}%
          p: small #{my_sessions} sessions, $120/hour
          a(href="TODO: Link me, including selection").btn.btn-secondary.btn-block Contact Todd
    .col-4
      .card: .card-body
        .text-center
          h3 Regular
          p 1 hour every week
          - my_sessions = their_weeks;
          - my_cost = my_sessions * my_rate;
          - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
          .h3 $#{my_cost}, save #{my_savings}%
          p: small #{my_sessions} sessions, $120/hour
          a(href="TODO: Link me, including selection").btn.btn-primary.btn-block Contact Todd
    .col-4
      .card: .card-body
        .text-center
          h3 Frequent
          p 2 hours every week
          - my_sessions = their_weeks * 2;
          - my_cost = my_sessions * my_rate;
          - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
          .h3 $#{my_cost}, save #{my_savings}%
          p: small #{my_sessions} sessions, $120/hour
          a(href="TODO: Link me, including selection").btn.btn-secondary.btn-block Contact Todd
  .row
    .col-12
      p Or choose your own pace, I'm flexible
      p My goal is to guarantee you're picking up material and happy with the results
  .row
    .col-12
      //- TODO: Adjust reviews for each bootcamper
      //- TODO: Consider abstracting this into a partial
      h4#reviews
        span.d-inline-block Reviews,&nbsp;
        span.d-inline-block(aria-label="5 star") 5.0 &#11088;
        = " "
        span.d-inline-block= "(50 reviews)"
      - let reviews = [];
      - reviews.push({content: 'Amazing tutor with lots of insight on different systems front and back end.', signature: 'Jammie T., July 2020'});
      - reviews.push({content: 'Total cool dude knew his stuff and was able to explain things to me the way I needed things explained!', signature: 'Erik A., July 2020'});
      - reviews.push({content: 'Todd was very helpful in walking me through a structured process for getting around a coding block I was facing. Thanks!', signature: 'Anthony L., July 2020'});
      - reviews.push({content: 'I totally recommend Todd. He has impressive programming skills and the ability to explain, which is a rare combination.', signature: 'Marcela, August 2020'});
      //- - reviews.push({content: 'Clear thinker and knowledgeable across a range of topics and was very good at explaining concepts.', signature: 'Sam F., July 2020'});
      .row
        for review, i in reviews
          .col-xxs-12.col-6.col-xl-4(class=(i === reviews.length -1 ? 'd-xxs-none d-xl-none' : ''))
            .card.mb-3
              .card-body
                p.mb-2.text-center(aria-label="5 star") &#11088;&#11088;&#11088;&#11088;&#11088;
                p.mb-2= review.content
                p.mb-0
                  i= "- " + review.signature
      .row
        .col-12
          .card
            .card-body.text-center
              = `View all ${reviewCount} reviews `
              a(href="https://www.codementor.io/@twolfson" id="reviews__view-all-link") here
    //- TODO: Expand into sections
    p How does this all work?
    //- TODO: List hours/timezone somehow, maybe in "Contat"
    p Contact
    //- TODO: List out skills somewhere?

  //- List for later:
  //- Additional benefits:
  //- - Work at your own pace/hours, no rigid school schedule to follow
  //- - Get help only as needed
  //- - Work with an experienced industry professional
  //- - Focus on topics you're interested in
