extends layout.pug

block seo
  - let pageTitle = 'Coding bootcamp alternative - Programming mentor';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your programming mentor';
  - let pageRobots = 'index, follow';
  - let pageUrl = 'https://mentor.twolfson.com/bootcamp-alternative.html';
  include _partials/common-seo.pug

block header
  //- Overwriting everything for now

block footer
  //- Overwriting everything for now

block content
  .row
    .col-12
      h1 Coding bootcamps can be expensive
      h2 Hire a mentor and save money instead
      p
        //- TODO: Should we add a tiny image here? Like after "Wolfson" or before "Todd"?
        //- TODO: Make reviews link in page
        //- TODO: Maybe don't link to other page here, it'll be confusing
        = "- Todd Wolfson "
        img.rounded(src=getGravatarUrl(24) alt="Photo of Todd Wolfson")
        = ", "
        a(href="/")
          = "Programming mentor, "
          span(aria-label="5 star") 5.0 &#11088;
          = " (50 reviews)"
        //- TODO: Add more professional experience
  .row
    -
      const calcCompareInfo = (params) => {
        if (!params.weeks) { throw new Error('Missing `params.weeks`'); }
        if (!params.their_cost) { throw new Error('Missing `params.their_cost`'); }
        const rate = 120; // per hour
        const calcSessionsInfo = (sessions) => {
          let my_cost = rate * sessions;
          return {
            sessions: sessions,
            cost: my_cost,
            savings: ((1 - (my_cost/params.their_cost)) * 100).toFixed(0),
          };
        };
        return {
          infrequent: calcSessionsInfo(params.weeks / 2),
          regular:    calcSessionsInfo(params.weeks),
          frequent:   calcSessionsInfo(params.weeks * 2),
        };
      };
    .col-12
      p
        //- TODO: Make select interactive for a few items
        //- TODO: If we add our own JS, then this means Sentry.js
        //- TODO: Verify numbers are accurate, also maybe link to them somehow. Maybe in footer?
        = "Compare bootcamp to mentor: "
        select#compare-bootcamp-select.form-control
          //- https://generalassemb.ly/education/software-engineering-immersive/san-francisco
          //-   Sep 21 -> Dec 18 (2020), counting from Mondays
          //-   Sep = 2, Oct = 4, Nov = 5, Dec = 2, 5 days excluded so -1
          //-   Total: 12 (2+4+5+2-1)
          - let compareInfo;
          - compareInfo = calcCompareInfo({weeks: 12, their_cost: 14950});
          - const defaultCompareInfo = compareInfo;
          //- TODO: Replace back from single to double quotes in JS parsing
          option(data-compare-info=JSON.stringify(compareInfo).replace(/"/g, '\''))
            | General Assembly, $14,950 (12 weeks) vs $120/hour mentor
          //- https://flatironschool.com/career-courses/coding-bootcamp#tuition
          //-   Sep 14 -> Dec 25 (2020), counting from Mondays
          //-   Sep = 3, Oct = 4, Nov = 5, Dec = 3, no days excluded mentioned
          //-   Total: 15 (3+4+5+3)
          - compareInfo = calcCompareInfo({weeks: 15, their_cost: 17000});
          option(data-compare-info=JSON.stringify(compareInfo).replace(/"/g, '\''))
            | Flatiron School, $17,000 (15 weeks) vs $120/hour mentor
          //- //- https://www.hackreactor.com/online-coding-bootcamp#Tuition%20&%20Financial
          //- //-   Oct 5 -> Jan 15 (2020), counting from Mondays
          //- //-   Oct = 4, Nov = 5, Dec = 4, Jan = 2, no days excluded mentioned
          //- //-   Total: 15 (4+5+4+2)
          //- option Hack Reactor, $17,980 (15 weeks) vs $120/hour mentor
          //- https://generalassemb.ly/education/python-programming/san-francisco
          //-   Sep 26 -> Oct 31 (2020), counting from Saturdays
          //-   Sep = 1, Oct = 5
          //-   Total: 6 (1+5)
          - compareInfo = calcCompareInfo({weeks: 6, their_cost: 3950});
          option(data-compare-info=JSON.stringify(compareInfo).replace(/"/g, '\''))
            | General Assembly part-time, $3,950 (6 weeks, once per week) vs $120/hour mentor
  .row.mb-3
    .col-4
      .card: .card-body
        .text-center
          h3 Infrequent
          p 1 hour every 2 weeks
          .h3
            | $
            span#infrequent-cost #{defaultCompareInfo.infrequent.cost}
            = ", save "
            span#infrequent-savings #{defaultCompareInfo.infrequent.savings}
            | %
          p: small
            span#infrequent-sessions #{defaultCompareInfo.infrequent.sessions}
            = " sessions, $120/hour"
          a(href="TODO: Link me, including selection").btn.btn-secondary.btn-block Contact Todd
    .col-4
      .card: .card-body
        .text-center
          h3 Regular
          p 1 hour every week
          .h3
            | $
            span#regular-cost #{defaultCompareInfo.regular.cost}
            = ", save "
            span#regular-savings #{defaultCompareInfo.regular.savings}
            | %
          p: small
            span#regular-sessions #{defaultCompareInfo.regular.sessions}
            = " sessions, $120/hour"
          a(href="TODO: Link me, including selection").btn.btn-primary.btn-block Contact Todd
    .col-4
      .card: .card-body
        .text-center
          h3 Frequent
          p 2 hours every week
          .h3
            | $
            span#frequent-cost #{defaultCompareInfo.frequent.cost}
            = ", save "
            span#frequent-savings #{defaultCompareInfo.frequent.savings}
            | %
          p: small
            span#frequent-sessions #{defaultCompareInfo.frequent.sessions}
            = " sessions, $120/hour"
          a(href="TODO: Link me, including selection").btn.btn-secondary.btn-block Contact Todd
    //- Inlining page-specific JS, we could make it standalone but meh
    //- TODO: Add Sentry for our page due to having JS
    script.
      // When the page loads
      // http://youmightnotneedjquery.com/#ready
      // http://youmightnotneedjquery.com/#on
      document.addEventListener('DOMContentLoaded', function handleReady () {
        // Define our compare change handler
        var lastSelection = 0;
        var selectEl = document.getElementById('compare-bootcamp-select');
        if (!selectEl) { throw new Error('Unable to find #compare-bootcamp-select'); }
        function handleCompareChange(evtOrNull) {
          // Resolve our current selection
          var currentSelection = selectEl.selectedIndex;

          // If our selection is unchanged, then do nothing
          if (lastSelection === currentSelection) {
            return;
          }

          // Otherwise, handle our change
          lastSelection = currentSelection;
          var compareInfoJSON = selectEl.options[currentSelection].getAttribute('data-compare-info');
          // DEV: We have to encode with quotes to avoid escaping to `&quot;` which is valid
          var compareInfo = JSON.parse(compareInfoJSON.replace(/'/g, '"'));
          document.getElementById('infrequent-cost').textContent = compareInfo.infrequent.cost;
          document.getElementById('infrequent-savings').textContent = compareInfo.infrequent.savings;
          document.getElementById('infrequent-sessions').textContent = compareInfo.infrequent.sessions;
          document.getElementById('regular-cost').textContent = compareInfo.regular.cost;
          document.getElementById('regular-savings').textContent = compareInfo.regular.savings;
          document.getElementById('regular-sessions').textContent = compareInfo.regular.sessions;
          document.getElementById('frequent-cost').textContent = compareInfo.frequent.cost;
          document.getElementById('frequent-savings').textContent = compareInfo.frequent.savings;
          document.getElementById('frequent-sessions').textContent = compareInfo.frequent.sessions;
        }

        // Run our compare change handler (in case the selection is off)
        handleCompareChange(null);

        // When our select option changes, run our compare change event
        selectEl.addEventListener('change', handleCompareChange);
      });
  .row.mb-4
    .col-12
      p Or choose your own pace, I'm flexible
      p My goal is to guarantee you're picking up material and happy with the results
  .row
    .col-12
      //- TODO: Adjust reviews for each bootcamper
      //- TODO: Consider abstracting this into a partial
      h4#reviews
        span.d-inline-block Reviews,&nbsp;
        span.d-inline-block(aria-label="5 star") 5.0 &#11088;
        = " "
        span.d-inline-block= "(50 reviews)"
      - let reviews = [];
      - reviews.push({content: 'Amazing tutor with lots of insight on different systems front and back end.', signature: 'Jammie T., July 2020'});
      - reviews.push({content: 'Total cool dude knew his stuff and was able to explain things to me the way I needed things explained!', signature: 'Erik A., July 2020'});
      - reviews.push({content: 'Todd was very helpful in walking me through a structured process for getting around a coding block I was facing. Thanks!', signature: 'Anthony L., July 2020'});
      - reviews.push({content: 'I totally recommend Todd. He has impressive programming skills and the ability to explain, which is a rare combination.', signature: 'Marcela, August 2020'});
      //- - reviews.push({content: 'Clear thinker and knowledgeable across a range of topics and was very good at explaining concepts.', signature: 'Sam F., July 2020'});
      .row
        for review, i in reviews
          .col-xxs-12.col-6.col-xl-4(class=(i === reviews.length -1 ? 'd-xxs-none d-xl-none' : ''))
            .card.mb-3
              .card-body
                p.mb-2.text-center(aria-label="5 star") &#11088;&#11088;&#11088;&#11088;&#11088;
                p.mb-2= review.content
                p.mb-0
                  i= "- " + review.signature
      .row
        .col-12
          .card
            .card-body.text-center
              = `View all ${reviewCount} reviews `
              a(href="https://www.codementor.io/@twolfson" id="reviews__view-all-link") here
    //- TODO: Expand into sections
    p How does this all work?
    //- TODO: List hours/timezone somehow, maybe in "Contat"
    p Contact
    //- TODO: List out skills somewhere?

  //- List for later:
  //- Additional benefits:
  //- - Work at your own pace/hours, no rigid school schedule to follow
  //- - Get help only as needed
  //- - Work with an experienced industry professional
  //- - Focus on topics you're interested in

  //- Have call-outs for sites we support mentoring with:
  //- - FreeCodeCamp
  //- - Learn Python
  //- - Codecademy
  //- - Udemy
  //- - Etc

  //- Have wording like "Stop any time"
  //- "Avoid frustrating hidden fees" (link to income share complaints)
