extends layout.pug

block seo
  //- https://www.searchenginewatch.com/2018/04/04/a-quick-and-easy-guide-to-meta-tags-in-seo/
  //- https://moz.com/blog/the-ultimate-guide-to-seo-meta-tags
  //- https://ahrefs.com/blog/seo-meta-tags/#meta-refresh-redirect
  - let pageTitle = 'Bootcamp alternative - Programming mentor';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your programming mentor';
  //- DEV: Technically `title` is UX but good to consolidate here
  title= pageTitle
  meta(name="description" content=pageDescription)
  meta(name="robots" content="index, follow")
  //- Omitting keywords as per recommendations, feels weird
  //- SEO, Twitter: https://moz.com/blog/meta-data-templates-123
  //-   DEV: Without this, we get no link at all
  //-   https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@twolfsn")
  meta(name="twitter:title" content=pageTitle)
  meta(name="twitter:description" content=pageDescription)
  meta(name="twitter:creator" content="@twolfsn")
  //- Twitter Summary card images must be at least 120x120px
  meta(name="twitter:image" content=getGravatarUrl(120))
  meta(name="twitter:image:alt" content="Photo of Todd Wolfson")
  //- SEO, Facebook: https://moz.com/blog/meta-data-templates-123
  //-   DEV: Without this, only page title and URL
  //-   https://developers.facebook.com/docs/sharing/webmasters#basic
  //-   https://developers.facebook.com/docs/sharing/best-practices#images
  meta(property="og:title" content=pageTitle)
  meta(property="og:type" content="article")
  meta(property="og:url" content="https://mentor.twolfson.com/bootcamp-alternative.html")
    //- They recommend super high-res images, I'm maxing out at 600px as 1080px is ridiculous
  meta(property="og:image" content=getGravatarUrl(600))
  meta(property="og:description" content=pageDescription)
  //- Not required despite Moz recommendation, there is now an `fb:app_id` but we lack that
  //- meta(property="og:site_name" content="Site Name, i.e. Moz")
  //- meta(property="fb:admins" content="Facebook numeric ID")

block container
  .container
    .row
      .col-12
        h1 Bootcamps can be expensive
        h2 Hire a mentor and save money instead
        p
          = "- Todd Wolfson, "
          a(href="/")
            = "Programming mentor, "
            span(aria-label="5 star") 5.0 &#11088;
            = " (50 reviews)"
    .row
      .col-12
        p
          = "Compare to: "
          select.form-control
            option General Assembly, $14,000 (10 weeks)

    .row.mb-3
      - let my_cost, my_savings;
      - let their_weeks = 10;
      - let their_amount = 14000;
      - let my_rate = 120;
      .col-4
        .card: .card-body
          .text-center
            h3 Infrequent
            p 1 hour every 2 weeks
            - my_cost = (their_weeks / 2) * my_rate;
            - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
            h3 $#{my_cost}, save #{my_savings}%
            small 5 sessions, $120/hour
      .col-4
        .card: .card-body
          .text-center
            h3 Regular
            p 1 hour every week
            - my_cost = (their_weeks / 1) * my_rate;
            - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
            h3 $#{my_cost}, save #{my_savings}%
            small 10 sessions, $120/hour
      .col-4
        .card: .card-body
          .text-center
            h3 Frequent
            p 2 hours every week
            - my_cost = (their_weeks * 2) * my_rate;
            - my_savings = ((1 - (my_cost/their_amount)) * 100).toFixed(0);
            h3 $#{my_cost}, save #{my_savings}%
            small 10 sessions, $120/hour
    .row
      .col-12
        p Or choose your own pace, I'm flexible
        p My goal is to guarantee you're picking up material and happy with the results

  //- List for later:
  //- Additional benefits:
  //- - Work at your own pace/hours, no rigid school schedule to follow
  //- - Get help only as needed
  //- - Work with an experienced industry professional
  //- - Focus on topics you're interested in
