extends layout.pug

block seo
  //- SEO
  //- https://www.searchenginewatch.com/2018/04/04/a-quick-and-easy-guide-to-meta-tags-in-seo/
  //- https://moz.com/blog/the-ultimate-guide-to-seo-meta-tags
  //- https://ahrefs.com/blog/seo-meta-tags/#meta-refresh-redirect
  - let pageTitle = 'Programming mentor - Todd Wolfson';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your programming mentor';
  //- DEV: Technically `title` is UX but good to consolidate here
  title= pageTitle
  meta(name="description", content=pageDescription)
  meta(name="robots", content="index, follow")
  //- Omitting keywords as per recommendations, feels weird
  //- SEO, Twitter: https://moz.com/blog/meta-data-templates-123
  //-   DEV: Without this, we get no link at all
  //-   https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@twolfsn")
  meta(name="twitter:title", content=pageTitle)
  meta(name="twitter:description", content=pageDescription)
  meta(name="twitter:creator", content="@twolfsn")
  //- Twitter Summary card images must be at least 120x120px
  meta(name="twitter:image", content=getGravatarUrl(120))
  meta(name="twitter:image:alt", content="Photo of Todd Wolfson")
  //- SEO, Facebook: https://moz.com/blog/meta-data-templates-123
  //-   DEV: Without this, only page title and URL
  //-   https://developers.facebook.com/docs/sharing/webmasters#basic
  //-   https://developers.facebook.com/docs/sharing/best-practices#images
  meta(property="og:title", content=pageTitle)
  meta(property="og:type", content="article")
  meta(property="og:url", content="https://mentor.twolfson.com/")
    //- They recommend super high-res images, I'm maxing out at 600px as 1080px is ridiculous
  meta(property="og:image", content=getGravatarUrl(600))
  meta(property="og:description", content=pageDescription)
  //- Not required despite Moz recommendation, there is now an `fb:app_id` but we lack that
  //- meta(property="og:site_name", content="Site Name, i.e. Moz")
  //- meta(property="fb:admins", content="Facebook numeric ID")
