//- Based on https://getbootstrap.com/docs/4.5/getting-started/introduction/
//- Define some variables/helpers for ourselves
//- DEV: This will be exposed across all pages
- const reviewCount = 50;
- const showAnalytics = process.env.NODE_ENV === 'production';

- const e = encodeURIComponent;
- const getGravatarUrl = (imgSize) => `https://s.gravatar.com/avatar/15927fc52919e9223adc7ed99e125d4d?s=${e(imgSize)}`;

- let pageConfig = {
-   showLeftCard: false
- };
block pageConfig
  //- Do nothing by default

//- Start our page
//- DEV: `id=` calls will often be for analytics mostly
doctype html
html(lang="en")
  head
    //- Google Tag Manager: "Paste this code as high in the <head> of the page as possible"
    if showAnalytics
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M4ZRN6Z');

    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Favicon generated via https://realfavicongenerator.net/
    //- Attribution: Book by beth bolton from the Noun Project
    //-   https://thenounproject.com/search/?q=book&i=1557574
    //-   Stored in `resources` folder
    link(rel="icon" type="image/png" sizes="32x32" href="../browser/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../browser/images/favicon-16x16.png")
    link(rel="shortcut icon" href="../browser/images/favicon.ico")

    //- Bootstrap CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

    block seo
      - throw new Error('Expected `seo` block in `.pug` but there was none (e.g. title, meta tags)');

    //- Custom CSS
    link(rel="stylesheet" href="../browser/css/main.scss")

    //- No Sentry for site as there's nothing to break...

    //- If we're in development, then provide placeholder JS for HMR to hook into
    if process.env.NODE_ENV === 'development'
      script(src="../browser/js/index.js")
  body
    //- Google Tag Manager: "Paste this code immediately after the opening <body> tag"
    //- Omitting `noscript`, respect no analytics for those who don't want it
    //- if showAnalytics
      //- noscript: iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-M4ZRN6Z" height="0" width="0" style="display:none;visibility:hidden")

    //- Start on page content
    .container
      .row.pt-3
        .col-12
          h1 Programming mentor
          h2 Todd Wolfson
          hr.hr--header
      block content
        - throw new Error('Expected `content` block in `.pug` but there was none');
      .row
        .col-12.text-center
          hr.hr--footer
          p.text-muted
            = "Site built on "
            a(href="https://parceljs.org/" id="footer__parcel-link") Parcel
            = ". "
            = "View repo on "
            a(href="https://github.com/twolfson/mentor.twolfson.com" id="footer__github-link") GitHub
    //- Optional JS for Bootstrap, omitted for now
    //- script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    //- script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
